.container {
    max-width: 400px;
    margin: 0 auto;
}

#player {
    border-radius: 0px;
    margin-bottom: 0px;
}

#player2 {
    border-radius: 0px;
    margin-bottom: 0px;
}

#player3 {
    border-radius: 0px;
    margin-bottom: 0px;
}

#player4 {
    border-radius: 0px;
    margin-bottom: 0px;
}

#player5 {
    border-radius: 0px;
    margin-bottom: 0px;
}

#player6 {
    border-radius: 0px;
    margin-bottom: 0px;
}